USE [master]
GO
/****** Object:  Database [DB_ChanGaGoiDemAgoni]    Script Date: 3/25/2024 1:45:06 AM ******/
CREATE DATABASE [DB_ChanGaGoiDemAgoni]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_ChanGaGoiDemAgoni', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HAWIN\MSSQL\DATA\DB_ChanGaGoiDemAgoni.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_ChanGaGoiDemAgoni_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HAWIN\MSSQL\DATA\DB_ChanGaGoiDemAgoni_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ChanGaGoiDemAgoni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ChanGaGoiDemAgoni]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[MaChatLieu] [varchar](50) NOT NULL,
	[TenChatLieu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [varchar](100) NOT NULL,
	[MaSanPhamChiTiet] [varchar](200) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaSanPhamChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietKhuyenMai]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietKhuyenMai](
	[MaKhuyenMai] [varchar](50) NOT NULL,
	[MaSanPhamChiTiet] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC,
	[MaSanPhamChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSanPham]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPham](
	[MaSanPhamChiTiet] [varchar](200) NOT NULL,
	[MaSanPham] [varchar](50) NULL,
	[SoLuong] [int] NOT NULL,
	[MaKichThuoc] [varchar](50) NULL,
	[MaMauSac] [varchar](200) NULL,
	[DonGia] [varchar](50) NOT NULL,
	[NCC] [varchar](50) NULL,
	[ChatLieu] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPhamChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnh]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnh](
	[MaHinhAnh] [varchar](200) NOT NULL,
	[MaSanPhamChiTiet] [varchar](200) NULL,
	[HinhAnh] [varchar](200) NULL,
 CONSTRAINT [PK__HinhAnh__A9C37A9B8C8B56E7] PRIMARY KEY CLUSTERED 
(
	[MaHinhAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](100) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[TrangThai] [nvarchar](100) NOT NULL,
	[MaVoucher] [varchar](50) NULL,
	[MaNhanVien] [varchar](50) NULL,
	[NgayHoanThanh] [date] NOT NULL,
	[LoaiThanhToan] [nvarchar](100) NOT NULL,
	[MaKhachHang] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](50) NOT NULL,
	[TenKhachHang] [nvarchar](200) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [varchar](50) NOT NULL,
	[TenKhuyenMai] [nvarchar](200) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[HanSuDung] [date] NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[PTKhuyenMai] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichThuoc]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichThuoc](
	[MaKichThuoc] [varchar](50) NOT NULL,
	[KichThuoc] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKichThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDonGia]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDonGia](
	[MaDonGia] [varchar](50) NOT NULL,
	[GiaDau] [decimal](18, 0) NOT NULL,
	[GiaSau] [decimal](18, 0) NOT NULL,
	[ThoiGianBatDau] [date] NOT NULL,
	[ThoiGianKetThuc] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[MaMauSac] [varchar](200) NOT NULL,
	[MauSac] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [varchar](50) NOT NULL,
	[TenNguoiDung] [nvarchar](200) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[SDT] [varchar](50) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Roles] [varchar](50) NOT NULL,
	[TenDangNhap] [varchar](200) NOT NULL,
	[MatKhau] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](50) NOT NULL,
	[TenNCC] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SDT] [varchar](18) NOT NULL,
	[Email] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Marole] [varchar](50) NOT NULL,
	[TenRole] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Marole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](50) NOT NULL,
	[TenSanPham] [nvarchar](200) NOT NULL,
	[Mau] [nvarchar](200) NOT NULL,
	[Hang] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 3/25/2024 1:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[MaVoucher] [varchar](50) NOT NULL,
	[TenVoucher] [nvarchar](100) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[HanSuDung] [date] NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[SoTienGiam] [decimal](18, 0) NULL,
	[SoTienYeuCau] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL001', N'Cotton')
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL002', N'Vải gấm thun')
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL003', N'Bông tinh khiết kháng khuẩn')
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSanPhamChiTiet], [SoLuong], [DonGia]) VALUES (N'HD001', N'CTSP001', 2, CAST(90000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSanPhamChiTiet], [SoLuong], [DonGia]) VALUES (N'HD002', N'CTSP002', 3, CAST(130000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSanPhamChiTiet], [SoLuong], [DonGia]) VALUES (N'HD003', N'CTSP003', 4, CAST(180000 AS Decimal(18, 0)))
GO
INSERT [dbo].[ChiTietKhuyenMai] ([MaKhuyenMai], [MaSanPhamChiTiet]) VALUES (N'KM001', N'CTSP001')
INSERT [dbo].[ChiTietKhuyenMai] ([MaKhuyenMai], [MaSanPhamChiTiet]) VALUES (N'KM002', N'CTSP002')
INSERT [dbo].[ChiTietKhuyenMai] ([MaKhuyenMai], [MaSanPhamChiTiet]) VALUES (N'KM003', N'CTSP003')
GO
INSERT [dbo].[ChiTietSanPham] ([MaSanPhamChiTiet], [MaSanPham], [SoLuong], [MaKichThuoc], [MaMauSac], [DonGia], [NCC], [ChatLieu]) VALUES (N'CTSP001', N'SP001', 100, N'KT001', N'MS001', N'DG001', N'NCC001', N'CL001')
INSERT [dbo].[ChiTietSanPham] ([MaSanPhamChiTiet], [MaSanPham], [SoLuong], [MaKichThuoc], [MaMauSac], [DonGia], [NCC], [ChatLieu]) VALUES (N'CTSP002', N'SP002', 150, N'KT002', N'MS002', N'DG002', N'NCC002', N'CL002')
INSERT [dbo].[ChiTietSanPham] ([MaSanPhamChiTiet], [MaSanPham], [SoLuong], [MaKichThuoc], [MaMauSac], [DonGia], [NCC], [ChatLieu]) VALUES (N'CTSP003', N'SP003', 200, N'KT003', N'MS003', N'DG003', N'NCC003', N'CL001')
GO
INSERT [dbo].[HinhAnh] ([MaHinhAnh], [MaSanPhamChiTiet], [HinhAnh]) VALUES (N'HA001', N'CTSP001', N'url1')
INSERT [dbo].[HinhAnh] ([MaHinhAnh], [MaSanPhamChiTiet], [HinhAnh]) VALUES (N'HA0010', N'CTSP001', N'url10')
INSERT [dbo].[HinhAnh] ([MaHinhAnh], [MaSanPhamChiTiet], [HinhAnh]) VALUES (N'HA002', N'CTSP002', N'url2')
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayTao], [TrangThai], [MaVoucher], [MaNhanVien], [NgayHoanThanh], [LoaiThanhToan], [MaKhachHang]) VALUES (N'HD001', CAST(N'2024-01-01' AS Date), N'Đã hoàn thành', N'VCH001', N'ND001', CAST(N'2024-01-02' AS Date), N'Thanh toán khi nhận hàng, Thanh toán qua thẻ', N'KH001')
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayTao], [TrangThai], [MaVoucher], [MaNhanVien], [NgayHoanThanh], [LoaiThanhToan], [MaKhachHang]) VALUES (N'HD002', CAST(N'2024-02-01' AS Date), N'Chưa hoàn thành', N'VCH002', N'ND002', CAST(N'2024-02-02' AS Date), N'Thanh toán qua thẻ', N'KH002')
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayTao], [TrangThai], [MaVoucher], [MaNhanVien], [NgayHoanThanh], [LoaiThanhToan], [MaKhachHang]) VALUES (N'HD003', CAST(N'2024-03-01' AS Date), N'Đã huỷ', N'VCH003', N'ND003', CAST(N'2024-03-02' AS Date), N'Thanh toán khi nhận hàng', N'KH003')
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SDT], [DiaChi]) VALUES (N'KH001', N'Nguyễn Văn A', N'0123456789', N'Hà Nội, Việt Nam')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SDT], [DiaChi]) VALUES (N'KH002', N'Trần Thị B', N'0987654321', N'Hồ Chí Minh, Việt Nam')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SDT], [DiaChi]) VALUES (N'KH003', N'Lê Văn C', N'0369876543', N'Đà Nẵng, Việt Nam')
GO
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenKhuyenMai], [SoLuong], [HanSuDung], [NgayBatDau], [PTKhuyenMai]) VALUES (N'KM001', N'Khuyến mãi giảm 10%', 100, CAST(N'2024-12-31' AS Date), CAST(N'2024-01-01' AS Date), 10)
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenKhuyenMai], [SoLuong], [HanSuDung], [NgayBatDau], [PTKhuyenMai]) VALUES (N'KM002', N'Khuyến mãi giảm 20%', 50, CAST(N'2024-12-31' AS Date), CAST(N'2024-01-01' AS Date), 15)
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenKhuyenMai], [SoLuong], [HanSuDung], [NgayBatDau], [PTKhuyenMai]) VALUES (N'KM003', N'Khuyến mãi giảm 30%', 200, CAST(N'2024-12-31' AS Date), CAST(N'2024-01-01' AS Date), 5)
GO
INSERT [dbo].[KichThuoc] ([MaKichThuoc], [KichThuoc]) VALUES (N'KT001', N'Size 1')
INSERT [dbo].[KichThuoc] ([MaKichThuoc], [KichThuoc]) VALUES (N'KT002', N'Size 2')
INSERT [dbo].[KichThuoc] ([MaKichThuoc], [KichThuoc]) VALUES (N'KT003', N'Size 3')
GO
INSERT [dbo].[LichSuDonGia] ([MaDonGia], [GiaDau], [GiaSau], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (N'DG001', CAST(100000 AS Decimal(18, 0)), CAST(90000 AS Decimal(18, 0)), CAST(N'2024-01-01' AS Date), CAST(N'2024-02-01' AS Date))
INSERT [dbo].[LichSuDonGia] ([MaDonGia], [GiaDau], [GiaSau], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (N'DG002', CAST(150000 AS Decimal(18, 0)), CAST(130000 AS Decimal(18, 0)), CAST(N'2024-02-01' AS Date), CAST(N'2024-03-01' AS Date))
INSERT [dbo].[LichSuDonGia] ([MaDonGia], [GiaDau], [GiaSau], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (N'DG003', CAST(200000 AS Decimal(18, 0)), CAST(180000 AS Decimal(18, 0)), CAST(N'2024-03-01' AS Date), CAST(N'2024-04-01' AS Date))
GO
INSERT [dbo].[MauSac] ([MaMauSac], [MauSac]) VALUES (N'MS001', N'Đen')
INSERT [dbo].[MauSac] ([MaMauSac], [MauSac]) VALUES (N'MS002', N'Trắng')
INSERT [dbo].[MauSac] ([MaMauSac], [MauSac]) VALUES (N'MS003', N'Xanh Dương')
GO
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenNguoiDung], [GioiTinh], [SDT], [Email], [Roles], [TenDangNhap], [MatKhau]) VALUES (N'ND001', N'Nguyễn Văn An', 1, N'0123456789', N'an@example.com', N'NV', N'nv_an', N'password123')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenNguoiDung], [GioiTinh], [SDT], [Email], [Roles], [TenDangNhap], [MatKhau]) VALUES (N'ND002', N'Trần Thị Bình', 0, N'0987654321', N'binh@example.com', N'NV', N'nv_binh', N'password123')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenNguoiDung], [GioiTinh], [SDT], [Email], [Roles], [TenDangNhap], [MatKhau]) VALUES (N'ND003', N'Lê Văn Cường', 1, N'0369876543', N'cuong@example.com', N'NV', N'nv_cuong', N'password123')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (N'NCC001', N'Công ty TNHH A', N'Hồ Chí Minh, Việt Nam', N'0123456789', N'info@a.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (N'NCC002', N'Công ty TNHH B', N'Hà Nội, Việt Nam', N'0987654321', N'info@b.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (N'NCC003', N'Công ty TNHH C', N'Đà Nẵng, Việt Nam', N'0369876543', N'info@c.com')
GO
INSERT [dbo].[Roles] ([Marole], [TenRole]) VALUES (N'NV', N'Nhân viên')
INSERT [dbo].[Roles] ([Marole], [TenRole]) VALUES (N'QL', N'Quản lý')
GO
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [Mau], [Hang]) VALUES (N'SP001', N'Gối siêu êm mềm mịn xịn sang', N'Mẫu 1', N'Viettien')
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [Mau], [Hang]) VALUES (N'SP002', N'Đệm êm ái không ái cũng ngấp ngoái', N'Mẫu 1', N'Canifa')
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [Mau], [Hang]) VALUES (N'SP003', N'Nệm foam Nhật Bản nâng đỡ cơ thể Aeroflow Standard', N'Mẫu 2', N'Levis')
GO
INSERT [dbo].[Voucher] ([MaVoucher], [TenVoucher], [SoLuong], [HanSuDung], [NgayBatDau], [SoTienGiam], [SoTienYeuCau]) VALUES (N'VCH001', N'Voucher Giảm Giá 10%', 100, CAST(N'2024-12-31' AS Date), CAST(N'2024-01-01' AS Date), CAST(20000 AS Decimal(18, 0)), CAST(999999 AS Decimal(18, 0)))
INSERT [dbo].[Voucher] ([MaVoucher], [TenVoucher], [SoLuong], [HanSuDung], [NgayBatDau], [SoTienGiam], [SoTienYeuCau]) VALUES (N'VCH002', N'Voucher Miễn Phí Vận Chuyển', 50, CAST(N'2024-12-31' AS Date), CAST(N'2024-01-01' AS Date), CAST(10000 AS Decimal(18, 0)), CAST(200000 AS Decimal(18, 0)))
INSERT [dbo].[Voucher] ([MaVoucher], [TenVoucher], [SoLuong], [HanSuDung], [NgayBatDau], [SoTienGiam], [SoTienYeuCau]) VALUES (N'VCH003', N'Voucher Giảm 50.000đ', 200, CAST(N'2024-12-31' AS Date), CAST(N'2024-01-01' AS Date), CAST(5000 AS Decimal(18, 0)), CAST(1000000 AS Decimal(18, 0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSanPhamChiTiet])
REFERENCES [dbo].[ChiTietSanPham] ([MaSanPhamChiTiet])
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai]  WITH CHECK ADD FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([MaKhuyenMai])
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai]  WITH CHECK ADD FOREIGN KEY([MaSanPhamChiTiet])
REFERENCES [dbo].[ChiTietSanPham] ([MaSanPhamChiTiet])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([ChatLieu])
REFERENCES [dbo].[ChatLieu] ([MaChatLieu])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([DonGia])
REFERENCES [dbo].[LichSuDonGia] ([MaDonGia])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaKichThuoc])
REFERENCES [dbo].[KichThuoc] ([MaKichThuoc])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaMauSac])
REFERENCES [dbo].[MauSac] ([MaMauSac])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([NCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HinhAnh]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnh_ChiTietSanPham] FOREIGN KEY([MaSanPhamChiTiet])
REFERENCES [dbo].[ChiTietSanPham] ([MaSanPhamChiTiet])
GO
ALTER TABLE [dbo].[HinhAnh] CHECK CONSTRAINT [FK_HinhAnh_ChiTietSanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaVoucher])
REFERENCES [dbo].[Voucher] ([MaVoucher])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([Roles])
REFERENCES [dbo].[Roles] ([Marole])
GO
USE [master]
GO
